body{
  font-family:"Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  color:#333;
  background:#fff;
  line-height:1.65;
  margin:0;
  padding-left:12px;
  padding-right:12px;
}

main{
  max-width:720px;
  margin:16px auto 48px;
  padding-left:5%;
  padding-right:5%;
}

h1{ font-size:18px; font-weight:800; margin:0 0 12px; text-align:left; }
h2{ font-size:16px; font-weight:800; margin:16px 0 6px; color:#333; text-align:left; }
h3{ font-size:15px; font-weight:800; margin:14px 0 6px; text-align:left; }

p{ margin:0 0 10px; }

ol, ul{
  margin:6px 0 12px 1.25rem;
  padding-left:1rem;
}

li{ margin:.25rem 0; }

p{
  text-align:justify;
  text-justify:inter-word;
  overflow-wrap:break-word;
  word-break:break-word;
  hyphens:auto;
}

ol, ul, li{ text-align:left; }

.no-justify{ text-align:left !important; }

img{
  max-width:100%;
  height:auto;
  display:block;
  margin:12px auto;
}

.reward-table {
  font-family: 'Nunito Sans', sans-serif;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 13px; /* lebih kecil */
  width: auto; /* tidak full */
}

.reward-table th,
.reward-table td {
  text-align: center;
  border: 1px solid #000; /* Hitam */
  padding: 4px 8px; /* lebih kecil */
}

.reward-table thead th {
  background-color: #d9d9d9; /* abu mirip gambar */
  font-weight: 700;
}

.reward-table tbody tr.fw-bold td {
  font-weight: 700;
}
